{% extends "../base_with_datetime.html" %}
{% block parent_title %}药品管理 {% endblock %}
{% block parent_url %}medicinal{% endblock %}
{% block title %}添加药品{% endblock %}
{% block content %}
<form action="/admin/medicinal/add" method="post">
    <div class="form-group">
        <label for="category"> 药品类目</label>
        <input type="text" class="form-control" id="category" name="category" placeholder="药品类目" required>
    </div>
    <div class="form-group">
        <label for="name">药品名称</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="专题名称" required>
    </div>
    <div class="form-group">
        <label for="batch_number">药品批号</label>
        <input type="text" class="form-control" id="batch_number" name="batch_number" placeholder="药品批号" required>
    </div>
    <div class="form-group">
        <label for="count">数量</label>
        <input type="text" class="form-control" name="count" id="count" placeholder="数量" required>
    </div>
    <div class="form-group">
        <label for="validity">有效期</label>
        <div class="input-group date">
            <input type="text" class="form-control" name="validity" id="validity" placeholder="有效期" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>

{% endblock %}
