{% extends "../bash_with_alert.html" %} 
{% block parent_title %}药品管理 {% endblock %}
{% block parent_url %}medicinal{% endblock %}
{% block title %}药品列表{% endblock %}
{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>药品名称</th>
            <th>药品类目</th>
            <th>药品批号</th>
            <th>药品数量</th>
            <th>有效期</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    {% for row in list.data %}
    <tr>
        <td> {{ row.name }}</td>
        <td> {{ row.category }}</td>
        <td> {{ row.batch_number }}</td>
        <td> {{ row.count }}</td>
        <td> {{ row.validity }}</td>
        <td>
            {% if row.is_del %}
            <span class="badge badge-danger">已删除</span>
            {% else %}
            <span class="badge badge-success">正常</span>
            {% endif %}
        </td>
        <td>
            <a href="/admin/medicinal/edit/{{row.id}}" class="btn btn-primary btn-xs"><i class="fa fa-pen"></i> 修改</a>
            {% if row.is_del %}
            <a href="/admin/medicinal/recover/{{row.id}}" class="btn btn-success btn-xs" onclick="if(!confirm('确定恢复')) return false"><i class="fa fa-reply"></i> 恢复</a>
            {% else %}
            <a href="/admin/medicinal/del/{{row.id}}" class="btn btn-danger btn-xs" onclick="if(!confirm('确定删除')) return false"><i class="fa fa-trash"></i> 删除</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block pagination %}
{% include "../pagination.html" %}
{% endblock %}
{% block toolbar%}
<div class="card-header">
    <div class="btn-group btn-group-sm">
        <a href="/admin/medicinal/upload" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> 批量增加</a>
        <a href="/admin/medicinal/add" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> 增加</a>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-icon btn-sm" data-toggle="dropdown">
                <i class="fa fa-filter"></i> 过滤
            </button>
            <div class="dropdown-menu dropdown-menu-sm">
                {% if arg.is_del() %}
                <a class="dropdown-item dropdown-item-sm" href="?is_del=false&expired={{arg.expired()}}">未删除</a>
                <a class="dropdown-item dropdown-item-sm active" href="?is_del=true&expired={{arg.expired()}}">已删除</a>
                {%else%}
                <a class="dropdown-item dropdown-item-sm active" href="?is_del=false&expired={{arg.expired()}}">未删除</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del=true&expired={{arg.expired()}}">已删除</a>
                {%endif%}
            </div>
        </div>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-icon btn-sm" data-toggle="dropdown">
                <i class="fa fa-filter"></i> 过期查询
            </button>
            <div class="dropdown-menu dropdown-menu-sm">
                {% if arg.expired() == 0 %}
                <a class="dropdown-item dropdown-item-sm active" href="?is_del={{arg.is_del()}}&expired=0">所有数据</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=1">已经过期</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=2">一个月</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=4">三个月</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=7">六个月</a>
                {%elseif arg.expired() == 1 %}
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=0">所有数据</a>
                <a class="dropdown-item dropdown-item-sm active" href="?is_del={{arg.is_del()}}&expired=1">已经过期</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=2">一个月</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=4">三个月</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=7">六个月</a>
                {%elseif arg.expired() == 2 %}
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=0">所有数据</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=1">已经过期</a>
                <a class="dropdown-item dropdown-item-sm active" href="?is_del={{arg.is_del()}}&expired=2">一个月</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=4">三个月</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=7">六个月</a>
                {%elseif arg.expired() == 4 %}
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=0">所有数据</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=1">已经过期</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=2">一个月</a>
                <a class="dropdown-item dropdown-item-sm active" href="?is_del={{arg.is_del()}}&expired=4">三个月</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=7">六个月</a>
                {%elseif arg.expired() == 7 %}
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=0">所有数据</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=1">已经过期</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=2">一个月</a>
                <a class="dropdown-item dropdown-item-sm" href="?is_del={{arg.is_del()}}&expired=4">三个月</a>
                <a class="dropdown-item dropdown-item-sm active" href="?is_del={{arg.is_del()}}&expired=7">六个月</a>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="card-tools">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="输入关键字" id="keyword" name="keyword" autocomplete="off" value="{{ arg.keyword() }}">
            <div class="input-group-append">
                <button type="button" class="btn btn-primary" onclick="location.href='?is_del={{arg.is_del()}}&keyword=' + $('#keyword').val()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- /.card-tools -->
</div>
{%endblock %}
